<!DOCTYPE html>
<html lang="en">
    <% include partials/head.ejs %>
    <% include partials/scripts.ejs %>

<body>
    <% include partials/nav.ejs %>


    <!-- Page Content -->
    <!-- <div class="tooltipLeft" style="outline: #00FF00 dotted thick;"></div> -->

    <div class="container">
        <!-- <div class="legend col-md-4" style="outline: #00FF00 dotted thick;"></div> -->
        <div class="row">
            <div class="col-lg-12 text-center">
              <div class="loadingBar"></div>
              <div class="errors"></div>
              <form id= "uriForm">
                <h4>URI :</h4>
                <input id="uriInput" type="text" name="URI">
                <button id="uriSubmit" type="button">Submit</button>
              </form>

                <!-- <h1>A Bootstrap Starter Template</h1> -->
                <!-- <p class="lead">Complete with pre-defined file paths that you won't have to change!</p> -->
                <!-- <ul class="list-unstyled"> -->
                    <!-- <li>Bootstrap v3.3.1</li> -->
                    <!-- <li>jQuery v1.11.1</li> -->
                <!-- </ul> -->
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- <div class="tooltipRight" style="outline: #00FF00 dotted thick;"></div> -->
    <!-- /.container -->

    <!-- <div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong></p>
        <p><span id="value">100</span>%</p>
    </div> -->
    <div class="tooltipsgohere"></div>

    <div class="container container-table">
        <div class="row vertical-center-row">
            <div id="dia_1">
                <script src="javascripts/edge_bundle.js"></script>
            </div>
        </div>
    </div>

</body>

</html>
